.bot-state-node {
    max-width: 230px;
    border: 1px solid #9CB5ED;
}

.bot-state-node > .node-input {

}

.node-input > input {
    padding: 10px 15px;
    display: inline-block;
    max-width: 70%;
    border: none;
}

.node-input > input:first-of-type {
    border-bottom: 1px solid #eeeeee;
}

.node-button {
    position: absolute;
    right: 7px;
    top: 27px;
}



